// Main Colors
$primary-color: #B7996F;
$secondary-color: #393737;

// Backgrounds
$white-bg: #FFFFFF;
$transperent-bg: #FFFFFF40;
$faded-bg: #39373730;
$creamy-bg: #f7f7f7;

// Borders
$white-border: #FFFFFF;
$primary-border: #B7996F;
$faded-border: #B7996F50;

// Text Colors
$text-white: #FFFFFF;
$text-dark: #393737;
$text-highlight: #B7996F;
$text-brown: #615858;
$text-grey: #9f9f9f;

// Constant
$header-height: 80px;
$max-view-width: 1450px;

// Shadow
$primary-shadow: #B7A69670;