@import "../../styles/variables.module";

.brochure-page-main {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;

    .brouchure-frame {
        width: 90%;
        height: auto;
        border: none;
    }
}