@import "../../../styles/variables.module";

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-50%)); // Adjust this value based on the width of your container and cards
    }
}

.top-products-contents {
    width: 100%;
    max-width: $max-view-width;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 50px 0px;
    overflow-x: hidden; // Hide horizontal scrollbar

    .products-header-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 40px;

        .section-title {
            font-size: 32px;
            color: $text-brown;
        }

        .section-redirection-button {
            text-decoration: none;
            color: $text-highlight;
        }
    }

    .animation-container {
        display: flex;
        padding: 30px 0px;
        box-sizing: border-box;
        overflow-x: hidden; // Hide horizontal scrollbar

        .cards-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;

            .card {
                height: 390px;
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                gap: 10px;
                padding: 10px;
                box-sizing: border-box;
                border-radius: 8px;
                border: 2px solid $faded-border;
                position: relative;
                cursor: pointer;

                &:hover {
                    box-shadow: 4px 4px 10px $primary-shadow;
                }

                .image-section {
                    width: 100%;
                    height: 280px; //300 - 20
                    border-radius: 4px;
                    border: 1px solid $primary-border;
                }

                .description-section {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    margin-top: 10px;

                    .product-name {
                        width: 100%;
                        text-align: left;
                        font-size: 18px;
                        font-weight: 600;
                        color: $text-brown;
                    }
                }

                .view-details-button {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    font-size: 14px;
                    color: $text-highlight;

                    &:hover {
                        color: $text-brown;
                    }
                }
            }
        }
    }
}