@import "../../../styles/variables.module";

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-50%)); // Adjust this value based on the width of your container and cards
    }
}

.top-products-contents {
    width: 100%;
    max-width: $max-view-width;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 50px 0px;
    overflow-x: hidden; // Hide horizontal scrollbar

    .products-header-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 40px;

        .section-title {
            font-size: 32px;
            color: $text-brown;
            padding: 0px 30px;
            box-sizing: border-box;
        }

        .section-redirection-button {
            text-decoration: none;
            color: $text-highlight;
        }
    }

    .animation-container {
        display: flex;
        padding: 30px;
        box-sizing: border-box;

        .cards-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 50px;

            .card {
                width: fit-content;
                height: fit-content;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                gap: 20px;
                cursor: pointer;

                .image-section {
                    width: 300px;
                    height: 300px;
                    border-radius: 5px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        transition: transform 1s ease-in-out;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }

                }

                .description-section {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 5px;

                    .product-name {
                        width: 100%;
                        text-align: left;
                        font-size: 18px;
                        font-weight: 600;
                        color: $text-highlight;
                    }

                    .view-details-button {
                        font-size: 12px;
                        color: $text-grey;

                        &:hover {
                            color: $text-dark;
                        }
                    }
                }
            }
        }

    }
}