@import "../../styles/variables.module";

.products-page-main {
    width: 100%;
    max-width: $max-view-width;
    height: calc(100vh - 80px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    padding: 20px;
    box-sizing: border-box;

    .products-filters {
        width: 225px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
        border-right: 1px solid $faded-border;
        overflow-x: auto;

        .filter-container {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 5px;

            .filter-label {
                font-size: 14px;
                color: $text-brown;
            }

            .filter-dropdown {
                width: 100%;

                .filter-select {
                    width: 100%;

                    .ant-select-selector {
                        padding: 5px 5px;
                        line-height: 30px;
                        background-color: $white-bg;
                        border: none;
                        outline: none;
                        box-sizing: border-box;
                    }
                }

            }
        }

        .filter-items-list {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            padding: 20px 0px;
            margin-top: 5px;
            box-sizing: border-box;

            .filter-item {
                width: 100%;
                padding: 7px 10px;
                box-sizing: border-box;
                border-radius: 4px;
                color: $text-grey;
                cursor: pointer;

                &:hover {
                    color: $text-highlight;
                    background-color: $creamy-bg;
                }
            }

        }
    }
}