@import "../../styles/variables.module";

.products-page-main {
    width: 100%;
    max-width: $max-view-width;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    margin: 20px auto 50px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;

    .products-filters {
        width: 300px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
        border-right: 1px solid $faded-border;

        .filter-container {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 5px;

            .filter-label {
                font-size: 14px;
                color: $text-brown;
            }

            .filter-dropdown {
                width: 100%;

                .filter-select {
                    width: 100%;

                    .ant-select-selector {
                        padding: 5px 5px;
                        line-height: 30px;
                        background-color: $white-bg;
                        border: none;
                        outline: none;
                        box-sizing: border-box;
                    }
                }

            }
        }

        .filter-items-list {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            padding: 20px 0px;
            margin-top: 5px;
            box-sizing: border-box;

            .filter-item {
                width: 100%;
                padding: 7px 10px;
                box-sizing: border-box;
                border-radius: 4px;
                color: $text-grey;
                cursor: pointer;

                &:hover {
                    color: $text-highlight;
                    background-color: $creamy-bg;
                }
            }

        }
    }

    .products-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 30px;
        padding: 20px;
        box-sizing: border-box;
        background-color: $creamy-bg;
        border-radius: 5px;

        .product-card {
            width: 325px;
            height: 550px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            padding-bottom: 10px;
            box-sizing: border-box;
            background-color: $white-bg;
            border-radius: 10px;
            border: 1px solid $faded-border;

            .product-card-contents {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                gap: 10px;

                .product-image {
                    width: 100%;
                    height: 280px;
                    background-color: rgb(34, 159, 34);
                    border-radius: 10px 10px 0px 0px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        transition: transform 1s ease-in-out;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }

                .product-details {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 10px;
                    padding: 0px 10px;
                    box-sizing: border-box;

                    .product-name {
                        font-size: 20px;
                        font-weight: 600;
                        color: $text-dark;
                    }

                    .product-description {
                        font-size: 14px;
                        color: $text-brown;
                        line-height: 24px;
                    }
                }
            }

            .product-detail-button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-direction: row;
                padding: 10px 20px;
                box-sizing: border-box;
                color: $text-grey;
                cursor: pointer;

                &:hover {
                    color: $text-brown;
                }
            }
        }
    }
}